# Hugging Face access token for gated Gemma weights.
# 1. Accept the license: https://huggingface.co/google/gemma-4-E2B
# 2. Create a token: https://huggingface.co/settings/tokens
# 3. Copy this file to .env and paste the token below.
HF_TOKEN=
